.slidev-layout {
    p, ul, ol {
      font-size: 24px;
    }
  
    strong {
      color: #4292bf;
    }

    blockquote {
      border-left: 4px solid #4292bf;
      padding-left: 1em;
      margin: 3em 0em;
    }

    blockquote > p {
      line-height: 1.25;
    }

    /* a {
      border: none;
    } */
  }

  pre, code {
    --uno: select-text;
  }

.slidev-code {
  margin: 0rem 0.5rem;
}